.d-flex {
  display: flex;
}

.justify-c {
  justify-content: center;
}

.align-c {
  align-items: center;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-content: center;
}

.flex-between {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.m-20 {
  margin: 20px;
}

.mt-0 {
  margin-top: 0;
}

.w-full {
  width: 100%;
}

.rad-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.round {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.bg-white {
  background-color: white;
}

.c-black {
  color: black;
}



.p-relative {
  position: relative;
}

.txt-c {
  text-align: center;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

